
header ul{
  margin: 5px;
  padding: 5px;
  list-style-type: none;
}
header{
  background-color:rgb(243, 214, 214);
  padding: 5px;
  margin: 5px;
}
main{
  background-color:beige;
  padding: 5px;
  margin: 5px;
}
footer{
  background-color:rgb(243, 214, 214);
  padding: 5px;
  margin: 5px;
  text-align: center;
}
h1, h2 {
  text-align:  center;
}
.falsetable {
  display: flex;
  list-style-type: none;
}

.falsetable p {
 margin: 20px;
}
a{
  color: black;
}
h3 {
  padding: 5px;
  margin: 5px;
}